name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "18"
          cache: "gradle"
      - # Required for the package command tests to work
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@bfd569614358980afc8f89c2730eee75bb97efdf
      - name: Build package
        run: ./gradlew build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: "**/build/test-results/test/TEST-*.xml"
          require_passed_tests: true
          fail_on_failure: true
